#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  rocketchat-app.service
BindsTo=rocketchat.service
After=rocketchat.service mariadb-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/rocketchat-app.pid %t/rocketchat-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/rocketchat-app.pid \
    --cidfile %t/rocketchat-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/rocketchat.pod-id --replace -d --name  rocketchat-app \
    --volume rocketchat-app:/var/www/html/:Z \
    --volume ./tmp:/tmp:Z \
    --env-file=%S/state/database.env \
    ${NGINX_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/rocketchat-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP rocketchat-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/rocketchat-app.ctr-id
PIDFile=%t/rocketchat-app.pid
Type=forking

[Install]
WantedBy=default.target
